body {
  font-family: "Roboto";
  margin: 0px !important;
}

html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-img-preview {
  width: 100px;
  height: 100px;
}

.loader {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: black;
  position: absolute;
  width: 100vw;
  align-items: center;
  opacity: 0.3;
}

.content-section,
.form-content-section {
  padding: 8px;
  height: inherit;
  overflow: auto;
  max-height: calc(100vh - 16px);
}

.form-content-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-fields>.MuiTextField-root,
.form-bio-field>.MuiTextField-root {
  min-width: 300px;
  margin: 10px;
}

.form-bio-field>.MuiTextField-root textarea {
  height: 150px !important;
  max-height: 150px;
}

.card-content-style {
  max-height: calc(100% - 50px);
  height: calc(100% - 50px);
}

.footer-btns {
  display: flex;
  justify-content: center;
}

.footer-btns>button {
  margin: 10px;
}

.user-img-preview {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.card-container>.MuiCard-root {
  margin: 5px;
}

.user-card-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 200px);
  justify-content: space-between;
}

.add-user-btn {
  position: absolute !important;
  bottom: 30px;
  right: 30px;
}

.form-bio-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
}